lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pem

pids
logs
results

npm-debug.log
package-lock.json
node_modules
node_modules*
config.js
config-local.js
config-dev.js
config-live.js
config-production.js
config-server.js
worker-config.js

.idea
.vscode
.project
.settings
dist
dist-temp
public/js/vendor
public/js/config.js

.DS_Store
erl_crash.dump
lib/emails/test.js
lib/emails/test.html
lib/emails/testData.json
public/js/newsletter
public/js/usermanagement
public/js/offline
nbproject
